/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
    background-color: #6d6d6d;
}
header {
    color: #ffffff;
    font-family: Google font, Nexa, Avenir, Roboto; 
}
img {
    height: 20em;
    border: 1em solid #f0a431;
}
h1 {text-align: center;}
p {font-style: italic;
}
ul {
    font-family: Nexa, Helvetica, sans-serif;
    
}
footer {
    font-family: Google font, Nexa, Avenir, Roboto;
    color:#EDE3D3;
}